@import './base.css';

body {
  font-size: 15px;
  text-rendering: optimizeLegibility;
  background: linear-gradient(to left, lightblue, lightgreen);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Arial', sans-serif;
}
